section, nav, header, footer {
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
@media all and (min-width: 960px) {
    body{
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      width: 97%;
      margin: 0 auto;
      border: 3px solid #800000;
      background-color: #fffded;
      background-image: url("../images/heart.jpg");
    }
    .ed-in-a-box {
      height: 90px;
      width: 120px;
    }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    body{
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      width: 900;
      margin: 0 auto;
      border: 3px solid #800000;
      background-color: #fffded;
    }
    .ed-in-a-box {
      height: 60px;
      width: 80px;
    }   
}
 

hgroup {
  display: inline-block;
  vertical-align: top;
  padding-left: 1em;
}
header {
  padding: 1.5em 0;
  background-image: -moz-linear-gradient(300deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
  background-image: -webkit-linear-gradient(300deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
  background-image: -o-linear-gradient(300deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
  background-image: linear-gradient(30deg, #800000 0%, #fffded 30%, white 50%, #fffded 80%, #800000 100%);
}
header h1 {
  color: #800000;
}
header h2 {
  font-style: italic;
}
header img {
  float: left;
  padding: 0 30px;
}

nav {
  clear: both;
}
nav ul {
  list-style: none;
  padding: 1em 0; 
  background-color: #800000;
}
nav li {
  display: inline;
}
form {
  padding:  1em;
  margin-bottom: 2em;
  border-style: dotted;
  border-color: red;
  background-image: url('../images/heart.jpg');
  
}
nav a {
  padding: 1em 2em;
  text-decoration: none;
  color: #fffded;
  font-weight: bold;
  border-right: 2px solid #fffded;
}
section {
  padding: 3%;
  text-align: center;
  background-image: url('images/heart.jpg');
}
#celebrate {
  color: black;
  font: italic 150% "Comic Sans MS", cursive;
}
.fancytitle {
  color: #800000;
  font: italic 150% "Comic Sans MS", cursive;
}

footer {
  text-align: center;
}
a:visited {
  color: gold;
}


@media print {
  #nav-area {display: none;}
  }