body {
  background-color: silver;
}
ul.nav li {
  display: inline;
}
ul.dropdown-menu a {
  border-style: double;
  display: block;
  width: 4em;
}
ul.nav a {
  border: 1px dashed #0F0;
  border-bottom: none;
  padding: 5px 15px 5px 15px;
  margin-right: 5px;
  background-color: #EAEAEA;
  text-decoration: none;
  color: #333;
}
#training_button {
  padding: 2em;
  margin:  2em;
  border: dashed;
  border-color: yellow;
}
a:visited {
  color: red;
}
.meditation {
  background-image: url(images/golden-way.jpg);
}
.last-headings {
  font: italic small-caps bolder condensed 16px/3 cursive;
}


At least one centered element (a footer message can be nice for this)
A few elements styled using a class
A different color for visited links
An element styled with an ID